@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway&family=Roboto:wght@300;400;500&display=swap');

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #131f28;
}
html {
    overflow: hidden;
}

::selection {
    background: #20add833;
}

nav {
    height: 65px;
    width: calc(100vw - 4vw);
    background: #111111ee;
    position: fixed;
    top: 0;
    z-index: 100;
    padding: 0px 2vw;
    font-size: 0;
    left: 0;
    /* box-shadow: 0px 4px 10px #00000099; */
}
nav span.nav-links {
    float: right;
    transition: left 0.3s ease;
}
nav span.nav-links a {
    font-family: 'Roboto';
    font-weight: 400;
    vertical-align: middle;
    height: 35px;
    display: inline-block;
    font-size: 17px;
    color: #ffffff66;
    text-decoration: none;
    line-height: 35px;
    margin: 15px 10px;
    padding: 0px 14px;
}
nav span.nav-links a:not(.highlight):hover {
    color: #fff;
}
nav span.nav-links a.highlight {
    background: #FFB45E;
    color: #000;
    border-radius: 5px;
}
nav span.nav-links a.highlight.open {
    box-shadow: 0px 0px 15px #FFB45E;
}
nav span.nav-links a.highlight:hover {
    filter: brightness(110%);
}
nav span.nav-links a:not(.highlight).open {
    box-shadow: 0px -3px 0px #FFB45E inset;
    color: #fff;
}
nav button.open-links {
    height: 51px;
    width: 51px;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    border-radius: 0px;
    background: transparent;
    display: none;
    color: #fff;
    margin-top: 7px;
    font-size: 18px;
}

div#wrapper {
    width: 76vw;
    background: transparent;
    height: 10px;
    margin-left: calc(50vw - 76vw / 2);
    margin-top: 65px;
}
header {
    height: 50vh;
    width: 100vw;
    background: url('images/ex_1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -12vw;
    color: #fff;
    text-shadow: 1px 1px 10px #000000;
    text-align: center;
    line-height: 50vh;
    font-size: 75px;
    font-family: 'Lobster', sans-serif;
}

article {
    overflow: hidden;
}
article h2 {
    font-family: 'Raleway', serif;
    color: #fff;
    font-weight: 400;
    font-size: 28px;
}
article p {
    color: #ddd;
    font-family: 'Roboto';
    text-align: justify;
    text-indent: 20px;
    font-weight: 300;
}
article div.pix {
    height: 500px;
    width: 50vw;
    margin-left: 12vw;
    text-align: center;
    background: url('images/ex_1.jpg'), #111;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background 0.8s ease;
}
footer {
    width: 100vw;
    color: #fff;
    background: #111;
    padding: 16px 0px;
    font-family: 'Roboto', sans-serif;
    margin: 5vh 0px 0px -12vw;
    text-align: center;
}
footer a {
    color: #FFB45E;
}

div.image-container {
    text-align: justify;
    width: 50vw;
    overflow: hidden;
    margin-left: 12.5vw;
}

div.image-container img {
    cursor: pointer;
    /* transition: all 0.2s ease; */
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    pointer-events: none;
    overflow: hidden;
    background: #00000099;
    display: none;
    backdrop-filter: blur(2px);
}
.overlay span.name {
    color: #fff;
    font-family: 'Lobster', serif;
    font-size: 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    transform: translateY(-50%);
}

ol, ul {
    color: #ddd;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
ol a, ul a {
    color: #FFB45E;
}
article h4 {
    font-family: 'Roboto', serif;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.filter-container {
    width: 65vw;
    margin: 4vh 0px 4vh 5vw;
    text-align: center;
}
.filter {
    height: 35px;
    background: transparent;
    display: inline-block;
    line-height: 35px;
    cursor: pointer;
    margin: 10px 8px;
    padding: 0px 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 20px;
    font-weight: 500;
    color: #FFB45E;
    border: 2px solid #FFB45E;
}
.filter.selected {
    box-shadow: none;
    color: #222;
    background: #FFB45E;
}
.filter.clear {
    background: #FFB45E55;
    color: #fff;
    border: 2px solid #ffb45e;
}
@media only screen and (max-width: 768px) {
    nav {
        padding: 0px;
        width: 100vw;
    }
    nav a img {
        margin-left: 50vw;
        transform: translateX(-50%);
    }
    nav span.nav-links {
        position: fixed;
        left: -60vw;
        float: left;
        top: 65px;
        background: #111111ee;
        padding: 0;
        z-index: 100;
        width: 60vw;
        height: calc(100vh - 65px);
    }
    nav span.nav-links a {
        width: 60vw;
        border-radius: 0px!important;
        text-align: center;
        padding: 0;
        margin: 0px;
        height: 75px;
        line-height: 75px;
    }
    nav button.open-links {
        display: inline-block;
    }
    .pix {
        width: 100vw!important;
        height: 300px!important;
        margin-left: -12vw!important;
    }
    header {
        font-size: 43px;
    }
    div.image-container {
        text-align: center!important;
        width: 100vw;
        margin-left: -12vw;
    }
    nav span.nav-links a:not(.highlight).open {
        box-shadow: 3px 0px 0px #FFB45E inset;
    }
    .filter-container {
        white-space: nowrap;
        overflow-x: scroll;
        position: sticky;
        top: 65px;
        background: transparent;
        width: 100vw;
        z-index: 1;
        margin-left: -12vw;
    }
    .overlay {
        opacity: 0;
    }
    article {
        overflow: visible;
    }
}